:root {
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --card-background-color: #f5f5f5;
  --border-color: #bbb;
  --hover-color: #e3e3e3;
}

[data-theme='dark'] {
  --background-color: #0d1b2a;
  --text-color: #e0e0e0;
  --card-background-color: #1b263b;
  --border-color: #445;
  --hover-color: #152238;
}
