.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Gauche: 2/3, Droite: 1/3 */
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}


.quadrant {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12); /* Bordure plus subtile */
  border-radius: 8px;
  padding: 16px;
  overflow: auto;
  background-color: var(--card-background);
  box-shadow: none; /* Suppression de l'ombre */
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .top-left {
  grid-area: 1 / 1 / 2 / 2; /* Ligne 1, colonne 1 */
}
.bottom-left {
  grid-area: 2 / 1 / 3 / 2; /* Ligne 2, colonne 1 */
}
.top-right {
  grid-area: 1 / 2 / 2 / 3; /* Ligne 1, colonne 2 */
}
.bottom-right {
  grid-area: 2 / 2 / 3 / 3; /* Ligne 2, colonne 2 */
}

}